<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head >
    <title>Resume Website Template</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
    <!--JS, Popper.js, and jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>


</head>
<body>
               <!--Header Section-->
<section id="header">
    <div class="container text-center">
        <div class="user-box">
            <img th:src="@{/css/image/hpjx.jpg}"/>
            <h1>Ciny Zhang</h1>
            <p>大数据全栈开发工程师</p>
        </div>
    </div>
    <div class="scroll-btn">
        <div class="scroll-bar"><a href=""><span></span></a></div>
    </div>
</section>
    <!---------User Info------->
<section class="user-info">
    <div class="nav-bar">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">RESUME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
    <!----about--->
    <div class="about container" id="about">
        <div class="row">
            <div class="col-md-6 text-center">
                <img th:src="@{/css/image/hpjx.jpg}" class="profile-img"/>
            </div>
            <div class="col-md-6">
                <h3>Who AM I?</h3>
                <p>
                    学校大力实施“人才强校”战略，全面提高师资队伍建设水平。现有教职工1638人，其中专任教师1211人，博士、硕士生导师380余人，“双聘院士”、中原学者7人，河南省特聘教授、校级特聘教授24人。现有国家有突出贡献中青年科技管理专家、享受国务院特殊津贴专家10人；河南省优秀专家、享受河南省政府特殊津贴专家12人；全国模范教师、优秀教师12人；新世纪优秀人才支持计划、河南省教学名师、河南省学术技术带头人19人；河南省优秀教师19人；河南省优秀中青年骨干教师93人。聘请70余名国内外知名专家、学者为兼职教授、客座教授。
                </p>
            </div>
        </div>
    </div>
</section>

</body>
</html>